<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-12">
    <h1>Detalle de la orden</h1>
  </div>

  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width:25%">Producto</th>
            <th style="width:25%">Precio</th>
            <th style="width:25%">Cantidad</th>
            <th style="width:25%">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Enchiladas verdes</td>
            <td>$ 100</td>
            <td>2</td>
            <td>$ 200</td>
          </tr>
          <tr>
            <td>Chilaquiles divorciados</td>
            <td>$ 125</td>
            <td>1</td>
            <td>$ 125</td>
          </tr>
          <tr>
            <td>Jugo verde</td>
            <td>$ 45</td>
            <td>2</td>
            <td>$ 90</td>
          </tr>

        </tbody>
        <tfoot>
          <tr>
            <td>Subtotal</td>
            <td></td>
            <td></td>
            <td>$ 415</td>
          </tr>
          <tr>
            <td>IVA</td>
            <td></td>
            <td></td>
            <td>$ 41.5</td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td>$ 456.5</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-12">
    <h1>Status</h1>
  </div>
  <div class="col-12">
    <div class="form-group">
      <select class="form-control form-control-sm w-25">
        <option>Pendiente de pago</option>
        <option>Cerrada</option>
      </select>
      <span class="text-secondary">
        Ultima actualización: <b>26 de Mayo de 2021, 21:30 </b>
      </span>
    </div>
  </div>

  <div class="col-12">
    <h1>Detalle de pago</h1>
  </div>
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width:25%">ID de transación</th>
            <th style="width:25%">Método de pago</th>
            <th style="width:25%">Cantidad</th>
            <th style="width:25%">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>F5F5F5</td>
            <td>Efectivo</td>
            <td>$ 612</td>
            <td>26 de Mayo de 2021, 21:30</td>
          </tr>
          <tr>
            <td>KFNSF665SDFS1</td>
            <td>PayPal</td>
            <td>$ 350</td>
            <td>26 de Mayo de 2021, 21:27</td>
          </tr>
      </table>
    </div>
  </div>
</div>
