<body class="gray-bg">
  <div class="passwordBox pad-forg animated fadeInDown">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content">
          <h2 class="font-bold">Recuperar contraseña</h2>
          <p>Ingrese su usuario y contacte a su administrador</p>
          <div class="row">
            <div class="col-lg-12">
              <form class="m-t my-3" [formGroup]="formRecover" (submit)="recovery()" >
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput placeholder="Usuario" formControlName="email">
                </mat-form-field>
                <button mat-raised-button class="w-100" >Entrar</button>
              </form>
              <a [routerLink]="['/login']" routerLinkActive="router-link-active">
                <span>Volver al Inicio de sesión</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4" />
    <div class="row">
      <div class="col-md-6">
        EZ-TEK
      </div>
      <div class="col-md-6 text-right">
        <small>© 2021</small>
      </div>
    </div>
  </div>

</body>
[disabled]="formRecover.invalid"