
<body class="gray-bg">

    <div class="passwordBox pad-forg animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Recuperar contraseña</h2>
                    <p>Ingrese su dirección de correo electrónico y su contraseña se restablecerá y se le enviará por correo electrónico.</p>

                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="index.html">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Correo Electrónico" required="">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Enviar contraseña</button>

                            </form>

                            <a [routerLink]="['/login']" routerLinkActive="router-link-active" ><small>Volver al Inicio de sesión</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-4"/>
        <div class="row">
            <div class="col-md-6">
                EZ-TEK
            </div>
            <div class="col-md-6 text-right">
               <small>© 2021</small>
            </div>
        </div>
    </div>

</body>

