<div class="container-fluid parallax h-100">
  <!--Imagen lado izquierdo-->
  <div class="row h-100">
    <div class="col-7 auth">
      <img class="auth-text-img" src="assets/logo.svg">
      <span class="auth-text fw-bold5">
        B I E N V E N I D O &nbsp; a &nbsp;
        <span class="blue">
          EZ-
        </span>
        FOOD
      </span>
      <span class="auth-text-bot">
        Tu restaurante inteligente
      </span>
    </div>
    <div class="col-5">
      <div class="row align-items-center d-flex bg-white h-100">
        <div class="col-12">
          <div class="passwordBox animated fadeInDown">
            <div class="ibox-content">
              <h2 class="font-bold">Recuperar contraseña</h2>
              <p>Ingrese su usuario y contacte a su administrador</p>
              <div class="row">
                <div class="col-lg-12">
                  <form class="m-t my-3" [formGroup]="formRecover" (submit)="recovery()">
                    <mat-form-field class="w-100" appearance="outline">
                      <input matInput placeholder="Usuario" formControlName="email">
                    </mat-form-field>
                    <button mat-raised-button [disabled]="formRecover.invalid" class="w-100">Entrar</button>
                  </form>
                  <a [routerLink]="['/login']" routerLinkActive="router-link-active">
                    <span>Volver al Inicio de sesión</span>
                  </a>
                </div>
              </div>
            </div>
            <hr class="mt-4" />
            <div class="row">
              <div class="col-md-6">
                EZ-TEK
              </div>
              <div class="col-md-6 text-right">
                <small>© 2021</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
