      <div class="col-sm-12 ibox-content family m-1">
        <div class="text-light font-weight-bold text-center h-100">
          <div class="row">
            <div class="col-lg-12 mt-4 ">
              <div class="product-card product-list mb-30">
                <a class="product-thumb" [routerLink]="['/shop/single']">
                  <img src="assets/img/pngegg.png" class="imagen-produc">
                </a>
                <div class="product-card-inner">
                  <div class="product-card-body">
                    <div class="product-category">
                      <span class="product-title">
                        <a [routerLink]="['/shop/single']">
                          Mombre
                        </a>
                      </span>
                      <div class="product-category">
                        <a class="text-decoration-none text-secondary">
                          Descripción
                        </a>
                      </div>
                      <div>
                        <span class="product-price mt-4">
                          Precio
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>