<div class="container-fluid">
  <div class="row">
    <div class="col-12 mat-elevation-z5">
      <sales></sales>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 my-3">
      <h1 class="text-secondary fw-bold4">ORDENES</h1>
    </div>
  </div>
  <cards></cards>
  <div class="row mt-2">
    <div class="col-12 my-3">
      <h1 class="text-secondary fw-bold4">ESTADISTICAS</h1>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-3 my-2">
      <sales-day></sales-day>
    </div>
    <div class="col-sm-3 my-2">
      <ticket-average></ticket-average>
    </div>
    <div class="col-sm-3 my-2">
      <orders></orders>
    </div>
    <div class="col-sm-3 my-2">
      <payment-methods></payment-methods>
    </div>
  </div>
</div>

