<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-12">
    <h1>Detalle de pago</h1>
  </div>
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width:25%">ID de transación</th>
            <th style="width:25%">Método de pago</th>
            <th style="width:25%">Cantidad</th>
            <th style="width:25%">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lista of listas">
            <td>{{lista.transaction}}</td>
            <td>{{lista.methodPayment}}</td>
            <td>{{lista.amount | currency}}</td>
            <td>{{lista.date}}</td>
          </tr>
      </table>
    </div>
  </div>
</div>