<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-12">
    <h1>Detalle de pago</h1>
  </div>
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th style="width:25%">ID de transación</th>
            <th style="width:25%">Método de pago</th>
            <th style="width:25%">Cantidad</th>
            <th style="width:25%">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>F5F5F5</td>
            <td>Efectivo</td>
            <td>$ 612</td>
            <td>26 de Mayo de 2021, 21:30</td>
          </tr>
          <tr>
            <td>KFNSF665SDFS1</td>
            <td>PayPal</td>
            <td>$ 350</td>
            <td>26 de Mayo de 2021, 21:27</td>
          </tr>
      </table>
    </div>
  </div>
</div>