<div class="row">
  <div class="col-sm-3">
    <mat-card class="mat-elevation-z2 mt-3 text-center">
      <p class="fs-1 fw-bold text-success">6</p>
      <span class="fs-6 fw-bold"> Abiertas</span>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="mat-elevation-z2 mt-3 text-center">
      <p class="fs-1 fw-bold text-primary">6</p>
      <span class="fs-6 fw-bold"> Cerradas</span>
    </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="mat-elevation-z2 mt-3 text-center">
      <p class="fs-1 fw-bold text-warning ">8</p>
      <span class="fs-6 fw-bold"> Pendientes de pago</span>
    </mat-card>
  </div>
</div>
