<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">
      <div class="contact-box center-version">
        <a>
          <h3 class="m-b-xs fs-2">
            <strong>
              Enchiladas suizas
            </strong>
          </h3>
        </a>
        <div class="contact-box-footer">
          <div class="row">
            <div class="col-sm-6">
              <p class="my-0"><b>Mesa: </b> 1</p>
              <p class="my-0"><b>Comensal: </b> Beni</p>
            </div>
            <div class="col-sm-6">
              <div class="m-t-xs btn-group">
                <a href="" class="btn btn-lg btn-outline-success">
                  <i class="fa fa-check"></i>
                  PLATILLO LISTO
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-6">
      <div class="contact-box center-version">
        <a>
          <h3 class="m-b-xs fs-2">
            <strong>
              Enchiladas divorciadas
            </strong>
          </h3>

          <div class="font-bold">
            Agregar pollo empanizado y dorar las tortillas
          </div>
          <address class="m-t-md fs-5">
            <strong>
              Sin:
            </strong><br>
            <span>Cebolla, Queso<br></span>
          </address>

        </a>
        <div class="contact-box-footer">
          <div class="row">
            <div class="col-sm-6">
              <p class="my-0"><b>Mesa: </b> 1</p>
              <p class="my-0"><b>Comensal: </b> Marco</p>
            </div>
            <div class="col-sm-6">
              <div class="m-t-xs btn-group">
                <a href="" class="btn btn-lg btn-outline-success">
                  <i class="fa fa-check"></i>
                  PLATILLO LISTO
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-6">
      <div class="contact-box center-version">
        <a>
          <h3 class="m-b-xs fs-2">
            <strong>
              Chilaquiles verdes
            </strong>
          </h3>

          <div class="font-bold">
            Suavizar los totopos
          </div>

        </a>
        <div class="contact-box-footer">
          <div class="row">
            <div class="col-sm-6">
              <p class="my-0"><b>Mesa: </b> 1</p>
              <p class="my-0"><b>Comensal: </b> Guadalupe</p>
            </div>
            <div class="col-sm-6">
              <div class="m-t-xs btn-group">
                <a href="" class="btn btn-lg btn-outline-success">
                  <i class="fa fa-check"></i>
                  PLATILLO LISTO
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-6">
      <div class="contact-box center-version">
        <a>
          <h3 class="m-b-xs fs-2">
            <strong>
              Volcán de chocolate
            </strong>
          </h3>

          <address class="m-t-md fs-5">
            <strong>
              Sin:
            </strong><br>
            <span>Azúcar glass<br></span>
          </address>

        </a>
        <div class="contact-box-footer">
          <div class="row">
            <div class="col-sm-6">
              <p class="my-0"><b>Mesa: </b> 2</p>
              <p class="my-0"><b>Comensal: </b> Juan</p>
            </div>
            <div class="col-sm-6">
              <div class="m-t-xs btn-group">
                <a href="" class="btn btn-lg btn-outline-success">
                  <i class="fa fa-check"></i>
                  PLATILLO LISTO
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
