<div class="container-fluid parallax h-100">
  <!--Imagen lado izquierdo-->
  <div class="row h-100">
    <div class="col-7 auth">
      <img class="auth-text-img" src="assets/logo.svg">
      <span class="auth-text fw-bold5">
        B I E N V E N I D O &nbsp; a &nbsp;
        <span class="blue">
          EZ-
        </span>
        FOOD
      </span>
      <span class="auth-text-bot">
        Tu restaurante inteligente
      </span>
    </div>
    <div class="col-5">
      <div class="row align-items-center d-flex bg-white h-100">
        <div class="col-12">
            <div class="middle-box text-center loginscreen animated fadeInDown">
              <div>
                <div>
                  <h1 class="logo-names ">EZ-FOOD</h1>
                </div>
                <h3 class="mt-5">Bienvenido</h3>
                <p>Tu restaurante inteligente</p>
                <form class="my-5" role="form" action="index.html" [formGroup]="formularioLogin" (ngSubmit)="login()">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Usuario o correo electrónico</mat-label>
                    <input matInput placeholder="Ej. juanlo o juan@mi-restaurante.com" formControlName="username">
                  </mat-form-field>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Escriba su contraseña" formControlName="pass">
                  </mat-form-field>
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Conectarse a sucursal</mat-label>
                    <mat-select formControlName="restaurant">
                      <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant._id">
                        {{ restaurant.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <a>
                    <button mat-raised-button class="w-100" [disabled]="formularioLogin.invalid">Entrar</button>
                  </a>
                </form>
                <a [routerLink]="['/forgot-password']">
                  ¿Olvidaste la contraseña?
                </a>
                <p class="m-t"> <small>EZ-TEK &copy; 2021</small> </p>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

  
