<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <h1 class="logo-names mt-5">EZ-FOOD</h1>
      </div>
      <h3 class="mt-5">Bienvenido a EZ-Food</h3>
      <p>Tu restaurante inteligente</p>
      <form class="my-5" role="form" action="index.html" [formGroup]="formularioLogin" (ngSubmit)="login()">
        <mat-form-field class="w-100" appearance="fill">
          <input matInput placeholder="Usuario" formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="fill">
          <input matInput type="password" placeholder="Contraseña" formControlName="pass">
        </mat-form-field>
        <a>
          <button mat-raised-button class="w-100" [disabled]="formularioLogin.invalid">Entrar</button>
        </a>
      </form>
      <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">
        <span>Olvidaste la contraseña?</span>
      </a>
      <p class="m-t"> <small>EZ-TEK &copy; 2021</small> </p>
    </div>
  </div>
</body>
