<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-12">
    <div class="col-12">
      <h1>Editar Categoria <span class="fw-bold7">Nombre </span></h1>
    </div>
    <div class="ibox-content">
      <div class="row mt-4">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <input matInput type="text"  placeholder="Desayunos" value="Desayunos">
          </mat-form-field>
        </div>
        <div class="col-6">
          <ng-container matColumnDef="status">
            <th > Visible en APP </th>
            <td >
              <mat-form-field appearance="outline" class="mt-1 pl-2">
                <mat-select>
                  <mat-option value="true">Si</mat-option>
                  <mat-option value="false">No</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
        </div>
      </div>
        <div class="row">
          <div class="col-2">
            <button class="btn btn-outline-primary btn-sm w-100 mt-3">Actualizar</button>
          </div>
        </div>
    </div>
  </div>
</div>
