<div class="container-fluid parallax h-100">
    <!--Imagen lado izquierdo-->
    <div class="row h-100">
        <div class="col-7 auth">
            <img class="auth-text-img" src="assets/logo.svg">
            <span class="auth-text">
                B I E N V E N I D O  &nbsp; a &nbsp;
                <span class="blue">
                    EZ-
                </span>
                FOOD
            </span>
            <span class="auth-text-bot">
                Tu restaurante inteligente
            </span>
        </div>
        <!--Texto lado Derecho-->
        <div class="col-5">
            <div class="row align-items-center d-flex bg-white h-100">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>