<div class="form-group">
  <input class="form-control" placeholder="Nombre">
</div>
<div class="form-group">
  <textarea class="form-control form-control-sm" placeholder="Descripción"></textarea>
</div>
<div class="form-group">
  <input class="form-control form-control-sm" placeholder="Buscar ingredientes">
  <span class="text-secondary fs-10">
    ¿No encuentras el ingrediente? Agrégalo <a href="#" class="font-weight-bold" data-toggle="modal"
      data-target="#exampleModal">aquí</a>
  </span>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-6" id="exampleModalLabel">Agregar ingrediente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
            aria-describedby="basic-addon1">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Agregar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <h3 class="text-center">
        Ingredientes
      </h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h5>Obligatorios</h5>
      <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="mandatory"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of mandatory" cdkDrag>
          {{item}}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h5>Modificables</h5>
      <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="optional"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of optional" cdkDrag>
          {{item}}
        </div>
      </div>
    </div>
  </div>
</div>
