<div class="bg-white mat-elevation-z5 px-1 py-3 text-center">
    <p class="fs-4 text-secondary mt-3">Metodo de pago</p>
    <div class="row mx-4">
      <div class="col-12">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [grid]='chartOptions.grid'
        [responsive]='chartOptions.responsive'
        [legend]='chartOptions.legend'
        [dataLabels]='chartOptions.datalabels'
        [theme]="chartOptions.theme">
      </apx-chart>
      </div>
    </div>
  
    <div class="row mt-4 text-center">
      <div class="col-6" *ngFor="let payment of payments">
        <p class="fs-9 m-0 text-secondary">{{payment.title}}</p>
        <p class="fs-7 m-0 fw-bold7">{{payment.percentage}}%</p>
        <p class="fs-9 m-0" [ngClass]="validateClass(payment.difference)">
          <mat-icon class="fs-8 m-0">{{validarIcon(payment.difference)}}</mat-icon>{{payment.difference}}%
        </p>
      </div>
    </div>
</div>