<div class="row  border-bottom white-bg dashboard-header gx-5">
  <div class="col-12">
    <h1>Nuevo producto</h1>
  </div>
  <div class="col-12">
    <div class="row ">
      <div class="col-sm-5 ibox-content">
        <div class="form-group">
          <input class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group">
          <textarea class="form-control form-control-sm" placeholder="Descripción"></textarea>
        </div>
        <div class="form-group">
          <input class="form-control form-control-sm" placeholder="Buscar ingredientes">
          <span class="text-secondary fs-10">
            ¿No encuentras el ingrediente? Agrégalo <a href="#" class="font-weight-bold">aquí</a>
          </span>
          <div class="mt-3 p-5 bg-secondary border border-dark text-light border-radius text-center font-weight-bold">
            DRAG & DROP
          </div>
        </div>
      </div>
      <div class="col-sm-3 ibox-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control form-control-sm" placeholder="Precio">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control form-control-sm" placeholder="IVA" disabled>
            </div>
          </div>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm">
            <option selected disabled>Selecciona una categoría</option>
            <option>Desayunos</option>
            <option>Cenas</option>
            <option>Bebidas</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control form-control-sm">
            <option selected disabled>Selecciona una subcategoría</option>
            <option>Jugos</option>
            <option>Bebidas calientes</option>
            <option>Bebidas alcoholicas</option>
          </select>
        </div>

        <div class="input-group">
          <div class="custom-file">
            <input id="inputGroupFile01" type="file" class="custom-file-input">
            <label class="custom-file-label" for="inputGroupFile01">Elige una imagen</label>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-sm btn-outline-primary mt-3">
            Agregar
          </button>
        </div>

      </div>

      <div class="col-sm-4 ibox-content">
        <div class="bg-secondary p-5 text-light font-weight-bold text-center h-100">
          PREVIEW DEL PRODUCTO
        </div>
      </div>
    </div>
  </div>
</div>
